.banner {
    height: $header-height;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 15px;
    box-shadow: 0 0 20px #ccc;
    @include media-breakpoint-up(md){
        position: fixed;
    }
    .sticky & {
        height: $header-height / 2;
    }
}
.hide-if-sticky {
    .sticky & {
        display: none;
    }
}
.banner .nav li {
    @extend .nav-item;
}

.banner .nav a {
    @extend .nav-link;
    padding:0;
}

.banner__helper {
    text-align: center;
    margin: 0;
    font-family: $font-family-titles;
    font-weight: 700;
}
.nav {
    justify-content: space-between;
    flex-wrap: nowrap;
}

.menu-item {
    text-align: center;
}

.page-header {
    background-position: center;
    background-size: cover;
    height: $page-header-height - 300px;
    @include media-breakpoint-up(sm) {
        height: $page-header-height - 200px;
    }
    @include media-breakpoint-up(md) {
        height: $page-header-height;
    }
    margin: 0;
    position: relative;
}

.page-header__title {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 15px #333;
    font-size: 10vw;
    font-weight: 700;
    @include media-breakpoint-up(xl) {
        font-size: 130px;
    }
}

.page-header__gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #3E3E3E;
    background-image: radial-gradient(at 50% -16%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.50) 190%);
    background-blend-mode: normal, multiply;
}