.post {
    @include content-box();
    @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
    }
}

.meta__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

.meta__categories {
    margin-bottom: 6px;
}

.meta__taxonomies {
    line-height: 1;
}

.archive-post {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: $grid-gutter-width-base / 2;
    @include media-breakpoint-up(md){
        flex-direction: row;
        margin-bottom: $grid-gutter-width-base;
    }

    &:nth-child(odd) {
        @include media-breakpoint-up(md) {
            flex-direction: row-reverse;
        }
    }
}

.image-container {
    position: relative;
    img {
        @include media-breakpoint-up(md){
            max-width: none;
        }
    }
}

.svg__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .archive-post:nth-child(odd) & {
        right: 0;
    }
}

.svg__self {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    fill: white;
}

.archive-post:nth-child(odd) .svg_self--odd {
    display: none;
}

.archive-post:nth-child(even) .svg_self--even {
    display: none;
}